/* body styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-image: url('./360_F_276080724_hltnCyDjcqAyRtLzDYo3T2jXbBtCD7fl.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation menu styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}

/* Main content area styling */
main {
    padding: 20px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Profile picture styling */
#profile-picture {
    width: 150px; 
    height: auto; 
    border-radius: 50%;
    margin-right: 20px;
}

/*  background color for list items to a light gray */
li {
    background-color: #f5f5f5;
    padding: 10px;
}

/* Contact section styling */
section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.welcome-container{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
/* Container styling */
.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Form styling */
form {
    width: 300px;
    max-width: 400px;
}

/* Label styling for forms */
form label {
    display: block;
    margin-bottom: 5px; 
}

/* Input and textarea styling for forms */
form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
}

/* Thank you message styling */
#thankYouMessage {
    text-align: center;
    margin-top: 20px; 
    font-size: 1.4em; 
}
